* {
  box-sizing: border-box;
}

.places-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.map-container {
  width: 100vw;
  height: 70vh; 
}

.map-form-buttons {
  margin-left: 20px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: 300px;
}
.map-form {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 1rem;
  display: flex;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  position: absolute;
  z-index: 2;
  background-color: white;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.container {
  background-color: orange;
  display: flex;
  justify-content: space-between;
}
