<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sauriosoft.onealarm">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="true"/>
    <meta-data android:name="expo.modules.updates.EXPO_SDK_VERSION" android:value="45.0.0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="https://exp.host/@noesrichard/android_app"/>
    <activity android:name=".MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustPan" android:theme="@style/Theme.App.SplashScreen" android:exported="true" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="com.sauriosoft.onealarm"/>
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" android:exported="false"/>

  <!-- Pushy Declarations -->

  <!-- Pushy Notification Receiver -->
  <!-- Do not modify - internal BroadcastReceiver that forwards notifications to the internal notification service-->
  <receiver android:name="me.pushy.sdk.react.receivers.PushReceiver" android:exported="false">
      <intent-filter>
          <!-- Do not modify this -->
          <action android:name="pushy.me" />
      </intent-filter>
  </receiver>

  <!-- Pushy Update Receiver -->
  <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
  <receiver android:name="me.pushy.sdk.receivers.PushyUpdateReceiver" android:exported="false">
      <intent-filter>
          <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
  </receiver>

  <!-- Pushy Boot Receiver -->
  <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
  <receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver" android:exported="false">
      <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
  </receiver>

  <!-- Pushy Socket Service -->
  <!-- Do not modify - internal service -->
  <service android:name="me.pushy.sdk.services.PushySocketService" android:stopWithTask="false" />

  <!-- Pushy Job Service (added in Pushy SDK 1.0.35) -->
  <!-- Do not modify - internal service -->
  <service android:name="me.pushy.sdk.services.PushyJobService"
      android:permission="android.permission.BIND_JOB_SERVICE"
      android:stopWithTask="false" />

  <!-- End Pushy Declarations -->
  </application>
</manifest>
